<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora IMC</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  </head>
<body>
  <div id="app">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
                <div class="modal-dialog" role="document">
                    <div class="modal-content rounded-5 shadow">
                      <div class="modal-header p-5 pb-4 border-bottom-0">
                        <h2 class="fw-bold mb-0">Calculadora IMC</h2>
                      </div>
                
                      <div class="modal-body p-5 pt-0">
                        <form class="">
                          <div class="form-floating mb-3">
                            <input type="number" class="form-control rounded-4 altura" id="altura" placeholder="name@example.com">
                            <label for="altura">Informe a sua altura</label>
                          </div>
                          <div class="form-floating mb-3">
                            <input type="number" class="form-control rounded-4 peso" id="peso" placeholder="Password">
                            <label for="peso">Informe o seu peso</label>
                          </div>
                          <input value="Calcular" class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="button"  @click="calcularIMC"></input>
                        </form>
                      </div>
                    </div>

                    <div v-if="erro" class="alert alert-danger mt-3">
                        <strong>Ops!!!</strong><br>
                        Você esqueceu de informar a sua altura ou o seu peso
                    </div>

                    <div v-if="magrezaGrave || obesidade" class="alert alert-danger mt-3">
                        <strong>Cuidado!</strong><br>
                        O seu IMC é: <strong>{{imc}}</strong>,<br>
                        Esse valor está muito elevado e pode trazer riscos a sua saúde!
                    </div>

                    <div v-if="magreza || sobrepeso" class="alert alert-warning mt-3">
                        <strong>Cuidado!</strong><br>
                        O seu IMC é: <strong>{{imc}}</strong>,<br>
                        Esse valor está muito baixo e pode trazer riscos a sua saúde!
                    </div>

                    <div v-if="saudavel" class="alert alert-success mt-3">
                        <strong>Parabéns!</strong><br>
                        O seu IMC é: <strong>{{imc}}</strong>,<br>
                        Esse valor está de acordo com o esperado, continue se cuidando!
                    </div>

                </div>

            </div>
        </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>

      const app = new Vue({
        el: "#app",
        data: {
          altura: "",
          peso: "",
          magrezaGrave: false,
          magreza: false,
          saudavel: false,
          sobrepeso: false,
          obesidade: false,
          erro: false,
          imc: ""
        }, 
        methods: {
          calcularIMC(){
            this.magrezaGrave = false
            this.magreza = false
            this.saudavel = false
            this.sobrepeso = false
            this.obesidade = false
            this.erro = false
            const altura = document.querySelector('.altura').value;
            const peso = document.querySelector('.peso').value;
            const imc = peso / (altura * altura);
            this.imc = imc.toFixed(2);

            if(peso < 1 || altura < 1){
              this.erro = true;
            } 
            else{

              if(imc < 16) {
                this.magrezaGrave = true;
              }
              else if(imc >= 16 && imc < 18.5){
                this.magreza = true;
              }
              else if(imc >= 18.5 && imc < 25) {
                this.saudavel = true;
              }
              else if(imc >= 25 && imc < 30) {
                this.sobrepeso = true;
              }
              else if(imc >= 30 && imc <= 40) {
                this.obesidade = true;
              }
            }
          }
        }
      })

  </script>
  
</body>
</html>